<!DOCTYPE html>
<html lang="en">
<head>
    <style  type="text/css">
        ul
        {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #333 !important;
        }
        li
        {
        float:left
        }
        li a
        {
        display:block;
        padding:12px 16px;
        text-decoration: none;
        }
        li a:hover
        {
        color:black
        text-decoration:none
        }
    </style>
    <meta charset="UTF-8">
    <title>Code For Blog</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>
  {% block content%}

    {% endblock %}
</div>
</body>
</html>